<div id="calendar" style="padding:2vh"></div>
    <span id="events" style="display:none">{{events}}</span>
    <script>
        document.addEventListener('DOMContentLoaded', function () { 
            const events = JSON.parse($('#events').text())
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                selectable: true,
                eventClick: async function (e) {
                    console.log(e.event._def)
                },
                dateClick: async function (e) {
                    // show form to add event
                    window.location = `${document.location.origin}/dashboard/event/${e.dateStr}`
                },
                events: events
            });

            calendar.render()

        });
    </script>
    <button id="logout">Logout</button>
    <script scr="./js/login.js"></script>