
    <h2>Adding event for <span id="dateStr">{{dateStr}}</span></h2>
    <form id="event">
        <div id="income">
            <input type="text" id="inc-name" placeholder="Name of income..." />
            <input type="number" id="inc-amount" min="0" placeholder="Income amount..." />
            or <button id="show-expense">Add Expense</button>
            <button type="submit">Save</button>
        </div>

        <div id="expense" style="display:none;">
            <input type="text" id="exp-name" placeholder="Name of expense..." />
            <input type="number" id="exp-amount" min="0" placeholder="Expense amount..." />
            <select id="category" required>
                {{#each categories as |category|}}
                <option value="{{category.name}}">{{category.name}}</option>
                {{/each}}
            </select>
            or <button id="show-income">Add Income</button>
            <button type="submit">Save</button>
        </div>
    </form>
    <script>
        let state
        $('#show-expense').on('click', e => {
            e.preventDefault()
            $('#expense').attr('style', 'display:block;')
            $('#income').attr('style', 'display:none;')
            state = 'expense'
        })
        $('#show-income').on('click', e => {
            e.preventDefault()
            $('#income').attr('style', 'display:block;')
            $('#expense').attr('style', 'display:none;')
            state = 'income'
        })

        

        $('#event').on('submit', async e => {
            e.preventDefault()
            const dateStr = $('#dateStr').text()
            if (state === 'expense') {
                const name = $('#exp-name').val().trim()
                const amount = $('#exp-amount').val().trim()
                const category = $('#category').val()

                if (!name || !amount || !category) {
                    window.alert('Please fill out all fields.')
                    return
                }
                // send data to db
                await fetch(`${document.location.origin}/api/bills`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name, amount, category, dateStr })
                })

                // re-render calendar
                document.location.replace(`${document.location.origin}/dashboard`)

            } else {
                const name = $('#inc-name').val().trim()
                const amount = $('#inc-amount').val().trim()
                console.log(name, amount)

                if (!name || !amount) {
                    window.alert('Please fill out all fields.')
                    return
                }

                await fetch(`${document.location.origin}/api/incomes`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name, amount, dateStr
                    })
                })

                // re-render calendar
                document.location.replace(`${document.location.origin}/dashboard`)
            }
        })
    </script>