<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
<title>Budgeteer</title>
</head>
<body>
  <main>
    <div class="d-flex min-vh-100 bg-info">
      <div class="container-fluid my-auto text-center">
        <img style="width:30%" class="img-fluid" src="./images/musketeers.jpg">
        <h1 style="font-size: 8vw" class="display-1 font-weight-bold">Budgeteer</h1>
        <nav>
          <div class="p-3 row justify-content-center">
            <div class="p-4">
              <button style="font-size: 2vw" id="signUp" class="font-weight-light font-italic btn btn-dark rounded-pill" type="click">New User</button>
            </div>
            <div class="p-4">
              <button style="font-size: 2vw" id="login" class="font-weight-light font-italic btn btn-dark rounded-pill" type="click">Returning User</button>
            </div>
          </div>
        </nav>
      </div>
    </div>
<script src='./js/home.js'></script>