<div class="container">
    <main class="row">


        <ul>
            {{#each events.bills as |bill|}}
            <li>
                {{bill.name}}
                {{bill.ammount}}
                {{bill.dateStr}}
                {{bill.category}}
            </li>
            {{/each}}
        </ul>
    </main>
</div>