<div class="d-flex min-vh-100 bg-info  p-3">
  <div class="container-fluid my-auto text-center">
    <h2 class="display-4 font-weight-bold">Login</h2>
      <form class="form col col-md">
          <div class="form-group p-2">
              <label for="email-login"></label>
              <input id="email-login" placeholder="email" type="text" />
          </div>
          <div class="form-group p-2">
            <label for="password-login"></label>
            <input id="password-login" placeholder="password" type="password" />
          </div>
          <div class="form-group p-3">
            <button class="btn btn-dark rounded-pill" id="submit">Login</button>
          </div>
      </form>
  </div>
</div>
<script src="./js/login.js"></script>