<main>
    {{!-- Show signup form --}}
    <form>
        <label for="username-input">Username</label>
        <input id="username-input" type="text" />
        <label for="password-input">Password</label>
        <input id="password-input" type="password" />
        <label for="confirm-input">Confirm password</label>
        <input id="confirm-input" type="password" />
    </form>
</main>