<div class="row">
    <div>
        <form class="form signup-form">
            <label for="username-input">Username:</label>
            <input id="username-input" type="text" id="userName"/>
            <label for="username-input">Email:</label>
            <input id="username-input" type="email" id="email"/>
            <label for="password-input">Password:</label>
            <input id="password-input" type="password" id="password"/>
        </form>
    </div>
</div>

<script src="./js/signup.js"></script>