<div class="signup-container d-block text-center p-3">
    <div class="col-md">
        <h2 class="display-4 font-weight-bold">Sign Up</h2>
        <form class="form signup-form col col-md">
            <div class="form-signup p-2">
                <label for="username-input"></label>
                <input id="username-input" type="text" placeholder="Name" id="userName"/>
            </div>
            <div class="form-signup p-2">
                <label for="username-input"></label>
                <input id="username-input" type="email" placeholder="Email" id="email"/>
            </div>
            <div class="form-signup p-2">
                <label for="password-input"></label>
                <input id="password-input" type="password" placeholder="Password" id="password"/>
            </div>
            <div class="form-group p-3">
                <button class="btn btn-dark rounded-pill" type="submitt">Sign Up</button>
          </div>
        </form>
    </div>
</div>

<script src="./js/signup.js"></script>